Repository hodfords-solutions/nestjs-transaction: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["eslint --fix --max-warnings 0"],
    "*.{md,json,html}": "prettier --write"
}

release: use getDataSource for transaction decorator
  libs/decorators/transactional.decorator.ts
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

release: version 10.0.2
  package-lock.json
  package.json
Due: prettier --write

release: version 10.0.3
  package-lock.json
  package.json
Due: prettier --write

release: version 10.0.4
  package-lock.json
  package.json
Due: prettier --write

feat: update github workflow
  .github/workflows/publish.yml
  cspell.json
  scripts/publish.sh
Due: prettier --write

feat: upgrade dependencies
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

chore: update readme
  README.md
  package-lock.json
  package.json
Due: prettier --write

chore: update package json
  package-lock.json
  package.json
Due: prettier --write

refactor: rename libs folder
  lib/constants/excluded.constant.ts
  lib/decorators/transactional.decorator.ts
  lib/index.ts
  lib/interfaces/transaction-option.interface.ts
  lib/services/transaction.service.ts
  lib/transaction.module.ts
  lib/types/class.type.ts
  lib/types/exclude.type.ts
  lib/types/forward-ref.type.ts
  lib/types/provider-param.type.ts
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

chore: add quickstart example
  .eslintrc.js
  .github/workflows/publish.yml
  .prettierrc
  README.md
  eslint.config.js
  lib/services/transaction.service.ts
  lib/transaction.module.ts
  nest-cli.json
  package-lock.json
  package.json
  prettier.config.js
  sample/quickstart/src/app.controller.ts
  sample/quickstart/src/app.module.ts
  sample/quickstart/src/app.service.ts
  sample/quickstart/src/main.ts
  sample/quickstart/src/posts/post.controller.ts
  sample/quickstart/src/posts/post.dto.ts
  sample/quickstart/src/posts/post.entity.ts
  sample/quickstart/src/posts/post.module.ts
  sample/quickstart/src/posts/post.repository.ts
  sample/quickstart/src/posts/post.service.ts
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

refactor: update folder structure
  package.json
Due: prettier --write

refactor: update folder structure
  nest-cli.json
  package.json
Due: prettier --write

refactor: update folder structure
  nest-cli.json
  package.json
  sample/app.controller.ts
  sample/app.module.ts
  sample/app.service.ts
  sample/main.ts
  sample/posts/post.controller.ts
  sample/posts/post.dto.ts
  sample/posts/post.entity.ts
  sample/posts/post.module.ts
  sample/posts/post.repository.ts
  sample/posts/post.service.ts
  scripts/publish.sh
Due: eslint --fix --max-warnings 0, prettier --write

chore: upgrade dependencies
  package-lock.json
  package.json
Due: prettier --write

feat: change to async storage
  README.md
  docker-compose.yml
  lib/constants/cls-replication.constant.ts
  lib/constants/cls-transaction.constant.ts
  lib/constants/excluded.constant.ts
  lib/decorators/run-after-transaction-commit.decorator.ts
  lib/decorators/transactional.decorator.ts
  lib/decorators/use-master-node.decorator.ts
  lib/decorators/use-slave-node.decorator.ts
  lib/helpers/cls-db-replication.helper.ts
  lib/helpers/cls-db-transaction.helper.ts
  lib/helpers/patcher.helper.ts
  lib/helpers/run-after-transaction-commit.helper.ts
  lib/helpers/run-in-replication.helper.ts
  lib/helpers/run-in-transaction.helper.ts
  lib/index.ts
  lib/interceptors/auto-select-master-node.interceptor.ts
  lib/interfaces/transaction-option.interface.ts
  lib/services/transaction.service.ts
  lib/transaction.module.ts
  lib/types/class.type.ts
  lib/types/exclude.type.ts
  lib/types/forward-ref.type.ts
  lib/types/provider-param.type.ts
  lib/types/transaction-hook.type.ts
  lib/types/transaction-option.type.ts
  lib/types/transactional-option.type.ts
  package-lock.json
  package.json
  sample/app.module.ts
  sample/main.ts
  sample/posts/post.controller.ts
  sample/posts/post.module.ts
  sample/posts/post.service.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: change to async storage
  lib/decorators/use-master-node.decorator.ts
  lib/decorators/use-slave-node.decorator.ts
  lib/helpers/run-in-transaction.helper.ts
  sample/posts/post.controller.ts
  sample/posts/post.service.ts
Due: eslint --fix --max-warnings 0

feat: change to async storage
  lib/decorators/run-after-transaction-commit.decorator.ts
  lib/decorators/transactional.decorator.ts
  lib/decorators/use-master-node.decorator.ts
  lib/decorators/use-slave-node.decorator.ts
  lib/helpers/metadata.helper.ts
  package-lock.json
  package.json
  sample/main.ts
  sample/posts/post.controller.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: change to async storage
  lib/decorators/run-after-transaction-commit.decorator.ts
  lib/decorators/transactional.decorator.ts
  lib/decorators/use-master-node.decorator.ts
  lib/decorators/use-slave-node.decorator.ts
  lib/helpers/metadata.helper.ts
  package.json
  sample/posts/post.controller.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: bump version to 11.1.0
  package.json
Due: prettier --write

feat: use nestjs-cls
  lib/constants/cls-transaction.constant.ts
  lib/helpers/run-in-transaction.helper.ts
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

feat: use difference als
  lib/constants/cls-replication.constant.ts
  lib/constants/cls-transaction.constant.ts
  lib/helpers/run-in-replication.helper.ts
  lib/interceptors/auto-select-master-node.interceptor.ts
Due: eslint --fix --max-warnings 0

feat: add mongodb transaction
  .github/workflows/publish.yml
  docker-compose.yml
  lib/constants/cls-transaction.constant.ts
  lib/decorators/use-master-node.decorator.ts
  lib/drivers/mongo-query-runner.ts
  lib/drivers/mongo.driver.ts
  lib/helpers/cls-db-transaction.helper.ts
  lib/helpers/patcher-mongo.helper.ts
  lib/helpers/patcher.helper.ts
  lib/helpers/run-in-transaction.helper.ts
  lib/index.ts
  nest-cli.json
  package-lock.json
  package.json
  sample/mongodb/app.controller.ts
  sample/mongodb/app.module.ts
  sample/mongodb/app.service.ts
  sample/mongodb/main.ts
  sample/mongodb/posts/post.controller.ts
  sample/mongodb/posts/post.dto.ts
  sample/mongodb/posts/post.entity.ts
  sample/mongodb/posts/post.module.ts
  sample/mongodb/posts/post.repository.ts
  sample/mongodb/posts/post.service.ts
  sample/rdbms/app.controller.ts
  sample/rdbms/app.module.ts
  sample/rdbms/app.service.ts
  sample/rdbms/main.ts
  sample/rdbms/posts/post.controller.ts
  sample/rdbms/posts/post.dto.ts
  sample/rdbms/posts/post.entity.ts
  sample/rdbms/posts/post.module.ts
  sample/rdbms/posts/post.repository.ts
  sample/rdbms/posts/post.service.ts
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

feat: add mongodb transaction
  package.json
Due: prettier --write

feat: add mongodb transaction
  package.json
  sample/mongodb/posts/post.entity.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add mongodb transaction
  lib/drivers/mongo-query-runner.ts
Due: eslint --fix --max-warnings 0

feat: add mongodb transaction
  lib/drivers/mongo-query-runner.ts
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

feat: add mongodb transaction
  lib/helpers/run-in-transaction.helper.ts
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

chore: upgrade package
  package.json
Due: prettier --write

fix: correct queryRunner getter to return defaultQueryRunner instead of defaultManager
  lib/helpers/patcher.helper.ts
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

feat: add test
  jest.config.js
  lib/drivers/mongo-query-runner.ts
  package-lock.json
  package.json
  test/decorators/run-after-transaction-commit.decorator.spec.ts
  test/decorators/transactional.decorator.spec.ts
  test/decorators/use-master-node.decorator.spec.ts
  test/decorators/use-slave-node.decorator.spec.ts
  test/drivers/mongo-query-runner.spec.ts
  test/drivers/mongo.driver.spec.ts
  test/helpers/cls-db-replication.helper.spec.ts
  test/helpers/cls-db-transaction.helper.spec.ts
  test/helpers/metadata.helper.spec.ts
  test/helpers/patcher-mongo.helper.spec.ts
  test/helpers/patcher.helper.spec.ts
  test/helpers/run-after-transaction-commit.helper.spec.ts
  test/helpers/run-in-replication.helper.spec.ts
  test/helpers/run-in-transaction.helper.spec.ts
  test/interceptors/auto-select-master-node.interceptor.spec.ts
  test/setup.ts
  test/transaction.module.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add test
  lib/drivers/mongo-query-runner.ts
  lib/drivers/mongo.driver.ts
  lib/helpers/run-in-transaction.helper.ts
  package-lock.json
  package.json
  sample/mongodb/posts/post.entity.ts
  sample/mongodb/posts/post.service.ts
  sample/rdbms/posts/post.service.ts
  test/decorators/transactional.decorator.spec.ts
  test/decorators/use-master-node.decorator.spec.ts
  test/decorators/use-slave-node.decorator.spec.ts
  test/drivers/mongo-query-runner.spec.ts
  test/drivers/mongo.driver.spec.ts
  test/helpers/cls-db-transaction.helper.spec.ts
  test/helpers/metadata.helper.spec.ts
  test/helpers/patcher.helper.spec.ts
  test/helpers/run-after-transaction-commit.helper.spec.ts
  test/helpers/run-in-replication.helper.spec.ts
  test/helpers/run-in-transaction.helper.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add test
  package.json
Due: prettier --write

fix: return bound query runner from patched SelectQueryBuilder outside transactions
  lib/helpers/patcher.helper.ts
  test/helpers/patcher.helper.spec.ts
Due: eslint --fix --max-warnings 0

fix: return bound query runner from patched SelectQueryBuilder outside transactions
  lib/helpers/patcher.helper.ts
  package-lock.json
  package.json
  test/helpers/patcher.helper.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 12.0.0
  package.json
Due: prettier --write

chore: sync package-lock version to 12.0.0
  package-lock.json
Due: prettier --write
